<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="~/css/overlay.css">
</head>
<body>
    <div id="ad-popup" class="ad-popup"> 
        <div class="ad-content"> 
            <span class="close" onclick="closeAd()">&times;</span>
            <img src="~/img/pop-up-img.png" alt="overlay" style="width:100%;" />
        </div> 
    </div>
</body>